---
import UserIcon from "../icons/UserIcon.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import LinkedinIcon from "../icons/LinkedinIcon.astro";
import AboutCard from "../components/AboutCard";
import "../styles/About.css";

const data = [
  { 
    icon: <UserIcon />,
    title: "Gabriel Polack",
    description: "Software Developer",
    link: "https://gabo.dev",
    button: "Visit Portfolio",
  },
  {
    icon: <LinkedinIcon />,
    title: "LinkedIn Profile",
    description: "Connect with me on LinkedIn",
    link: "https://www.linkedin.com/in/gabriel-polack-castillo/",
    button: "Visit Profile",
  },
  {
    icon: <GithubIcon />,
    title: "GitHub Profile",
    description: "Check out my projects",
    link: "https://github.com/GaboGabito05",
    button: "Visit Profile",
  },
];
---

<section id="about" class="about-section">
  <div class="about-container">
    <h2 class="about-title">About</h2>
    <div class="cards-container">
      {
        data.map((card) => (
          <AboutCard
            icon={card.icon}
            title={card.title}
            description={card.description}
            link={card.link}
            button={card.button}
          />
        ))
      }
    </div>
  </div>
</section>
