---
import React from "react";
import AboutCard from "../components/AboutCard";
import { aboutData } from "../functions/data";
import "../styles/About.css";
---

<section id="about" class="about-section">
  <div class="about-container">
    <h2 class="about-title">About</h2>
    <div class="cards-container">
      {
        aboutData.map((card: { icon: React.ElementType, title: string, description: string, link: string, button: string }) => (
          <AboutCard
            icon={React.createElement(card.icon)}
            title={card.title}
            description={card.description}
            link={card.link}
            button={card.button}
          />
        ))
      }
    </div>
  </div>
</section>
